@page
@model ClockInApp.Web.Pages.EmployeeLoginModel
@{
    
}

<h1 class="head text-center">Welcome to the Login Page.</h1>
<p class="text-center">Enter your Employee Pin to login.</p>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.EmployeePin">Employee Pin</label>
        <input asp-for="@Model.EmployeePin"/>
    </div>
   @* <a name="pinSubmit"
        class="btn btn-primary"
       asp-route-employeePin="@Model.EmployeePin"   
       asp-page="/EmployeePortal"
       >LOGIN</a>*@
       <button type="submit" class="btn btn-primary">
           LOGIN
       </button>
@*     <button type="submit" class="btn btn-danger"
     asp-page="/EmployeePortal"
     asp-route="@Model.EmployeePin">LOGIN</button>*@
</form>

@*@if(Model.WrongPin == true){
    <h3 class="alert-danger">Wrong Pin</h3>
}*@